.hero{
    width: 100%;
    min-height: 100vh;
    background-image:linear-gradient(rgba(8,0,58,0.7),rgba(8, 0, 58, 0.7)), url(../../Assets//back.jpeg);
    background-size: cover;
    background-position: center;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
}
.hero-text{
    text-align: center;
    max-height: 800px;
}
.hero-text h1{
    font-size: 60px;
    margin-bottom: 20px;
}
.hero-text p{
    margin-bottom: 40px;
}
.btn img{
    height: 10px;
    width: 20px;
    margin-left: 5px;
    font-weight: bold;
}
.change{
    background-color: green;
    color: aliceblue;
}
.change:active{
    background-color: aqua;
    color: black;
}
/************************************MEDIA QUERY*********************************/
@media (max-width:850px) {
    .hero-text{
        font: size 40px;
        max-width: 450px;
        margin: auto;
    }
}