.title {
    text-align: center;
    color: #212EA0;
    font-size: clamp(1rem, 2vw, 1.5rem);
    font-weight: 500;
    text-transform: uppercase;
    margin: 70px 0px 30px;
    max-width: 100%;
    overflow-wrap: break-word;
}

.title h2 {
    margin-top: 5px;
    text-transform: capitalize;
    color: black;
    font-size: clamp(1rem, 2vw, 1.5rem);
    max-width: 100%;
    overflow-wrap: break-word;
}