.programs{
    margin-top: 80px auto;
    width: 90%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.programs img{
    width: 450px;
    height: 300px;
    border-radius: 10px;
    display: block;
    margin-left: 5px;
    margin-top: 40px;
}
.program{
    position: relative;
}
.caption{
    border-radius: 10px;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    color: white;
    margin-left: 10px;
    margin-top: 10px;
    color: #ccc;
    align-items: center;
    display: flex;
    justify-content: center;
    flex-direction: column;
    cursor: pointer;
    font-size: 20px;
}
.caption img{
    height: 100px;
    width: 100px;
    opacity: 0;
    transition: 0.7s;
    font-size: 30px;
}
.caption p{
    opacity: 0;
}
.program:hover .caption img{
    opacity: 1;
    padding-bottom: 30px;
    border-radius: 30px;
}
.program:hover .caption p{
    opacity: 1;
    padding-bottom: 30px;
}
/************************************MEDIA QUERY*********************************/
@media (max-width:650px) {
    .programs{
        flex-direction: column;
    }
    .program{
        flex-basis: 100%;
        margin: 20px;
    }
}