.contact{
    display: flex;
    align-content: center;
    justify-content: space-between;
    margin: 80 auto;
    max-width: 90%;
    cursor: pointer;
}
.details{
    flex-basis: 48%;
    color: #676767;
}
.details h3{
    font-weight: 700px;
    font-size: 30px;
    color: green;
    display: flex;
    align-items: center;
    margin-bottom: 20px;
    margin-left: 20px;
    cursor: pointer;
}
.details h3 img{
    width: 35px;
    margin-left: 20px;
    cursor: pointer;
}
.details p{
    max-width: 450px;
    list-style: 0.3px;
    margin-left: 20px;
    cursor: pointer;
}
.details ul li{
    display: flex;
    margin: 20px 0;
    color: green;
    margin-left: 20px ;
    cursor: pointer;
}
.icons{
    width: 50px;
    height: 40px;
    margin-right: 20px;
    background-color: transparent;
}
.contact form input,.contact form textarea{
    width: 100%;
    display: block;
    background: #EBECFE;
    padding: 14px;
    border: 0;
    outline: 0;
    margin-top: 5px;
    margin-bottom: 15px;
    resize: none;
}
.contact span{
    display: block;
    margin: 20px auto;
}
/************************************MEDIA QUERY*********************************/
@media (max-width:700px) {
    .contact{
        display: block;
    }
    .contact details{
        padding: 20px;
    }
}
